# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [6]:
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [7]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [8]:
regiment= pd.DataFrame(raw_data)
regiment

   company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [9]:
regiment.groupby(['postTestScore']).mean()

               preTestScore
postTestScore
25                        4
57                       31
62                        2
70                        3
94                       24

### Step 5. Present general statistics by company

In [13]:
regiment['company'].describe()

count      12
unique      2
top       1st
freq        6
Name: company, dtype: object

### Step 6. What is the mean each company's preTestScore?

In [14]:
regiment.groupby(['company','preTestScore']).mean()

                      postTestScore
company preTestScore
1st     2                        62
        3                        70
        4                        25
        24                       94
2nd     2                        62
        3                        70
        24                       94
        31                       57

### Step 7. Present the mean preTestScores grouped by regiment and company

In [15]:
regiment.groupby(['company','preTestScore','regiment']).mean()

                                 postTestScore
company preTestScore regiment
1st     2            Scouts                 62
        3            Dragoons               70
                     Scouts                 70
        4            Dragoons               25
                     Nighthawks             25
        24           Nighthawks             94
2nd     2            Nighthawks             62
                     Scouts                 62
        3            Scouts                 70
        24           Dragoons               94
        31           Dragoons               57
                     Nighthawks             57

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [16]:
regiment.groupby(['company','preTestScore','regiment']).mean().reset_index

<bound method DataFrame.reset_index of                                  postTestScore
company preTestScore regiment
1st     2            Scouts                 62
        3            Dragoons               70
                     Scouts                 70
        4            Dragoons               25
                     Nighthawks             25
        24           Nighthawks             94
2nd     2            Nighthawks             62
                     Scouts                 62
        3            Scouts                 70
        24           Dragoons               94
        31           Dragoons               57
                     Nighthawks             57>

### Step 9. Group the entire dataframe by regiment and company

In [21]:
groups = regiment.groupby(['regiment','company'])

### Step 10. What is the number of observations in each regiment and company

In [18]:
regiment.cov

<bound method DataFrame.cov of    company      name  postTestScore  preTestScore    regiment
0      1st    Miller             25             4  Nighthawks
1      1st  Jacobson             94            24  Nighthawks
2      2nd       Ali             57            31  Nighthawks
3      2nd    Milner             62             2  Nighthawks
4      1st     Cooze             70             3    Dragoons
5      1st     Jacon             25             4    Dragoons
6      2nd    Ryaner             94            24    Dragoons
7      2nd      Sone             57            31    Dragoons
8      1st     Sloan             62             2      Scouts
9      1st     Piger             70             3      Scouts
10     2nd     Riani             62             2      Scouts
11     2nd       Ali             70             3      Scouts>

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [22]:
for name, group in groups:
    print name

('Dragoons', '1st')
('Dragoons', '2nd')
('Nighthawks', '1st')
('Nighthawks', '2nd')
('Scouts', '1st')
('Scouts', '2nd')