# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np 
chipotle='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo_dataset = pd.read_table(chipotle)
chipo_dataset.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo=chipo_dataset.head()

### Step 4. How many products cost more than $10.00?

In [3]:
#chipo['item_price'] = (lambda x: x chipo['item_price'] > = )
chipo['item_price'] = chipo['item_price'].map(lambda x: x.split('$')[1])
chipo

/Users/aishwaryachinnari/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
s = 'jprasad$test'
ret = s.split('$')
print(ret[1])

test

In [5]:
new_chipo = chipo_dataset['item_name'] + ' ' + chipo_dataset['item_price']
new_chipo

0                 Chips and Fresh Tomato Salsa 2.39
1                                         Izze 3.39
2                             Nantucket Nectar 3.39
3        Chips and Tomatillo-Green Chili Salsa 2.39
4                                Chicken Bowl 16.98
5                               Chicken Bowl $10.98
6                               Side of Chips $1.69
7                              Steak Burrito $11.75
8                            Steak Soft Tacos $9.25
9                               Steak Burrito $9.25
10                        Chips and Guacamole $4.45
11                       Chicken Crispy Tacos $8.75
12                         Chicken Soft Tacos $8.75
13                              Chicken Bowl $11.25
14                        Chips and Guacamole $4.45
15      Chips and Tomatillo-Green Chili Salsa $2.39
16                            Chicken Burrito $8.49
17                            Chicken Burrito $8.49
18                                Canned Soda $2.18
19                               Chicken Bowl $8.75
20                        Chips and Guacamole $4.45
21                           Barbacoa Burrito $8.99
22                           Nantucket Nectar $3.39
23                           Chicken Burrito $10.98
24                                       Izze $3.39
25               Chips and Fresh Tomato Salsa $2.39
26                               Chicken Bowl $8.49
27                           Carnitas Burrito $8.99
28                                Canned Soda $1.09
29                            Chicken Burrito $8.49
                            ...
4592                        Barbacoa Burrito $11.75
4593                           Carnitas Bowl $11.75
4594                           Barbacoa Bowl $11.75
4595                             Chicken Bowl $8.75
4596                      Chips and Guacamole $4.45
4597                        Canned Soft Drink $1.25
4598                            Bottled Water $1.50
4599                             Chicken Bowl $8.75
4600                      Chips and Guacamole $4.45
4601                        Canned Soft Drink $1.25
4602                         Barbacoa Burrito $9.25
4603                         Barbacoa Burrito $9.25
4604                             Chicken Bowl $8.75
4605                      Chips and Guacamole $4.45
4606                        Canned Soft Drink $1.25
4607                           Steak Burrito $11.75
4608                          Veggie Burrito $11.25
4609                        Canned Soft Drink $1.25
4610                           Steak Burrito $11.75
4611                          Veggie Burrito $11.25
4612                            Carnitas Bowl $9.25
4613                                    Chips $2.15
4614                            Bottled Water $1.50
4615                       Chicken Soft Tacos $8.75
4616                      Chips and Guacamole $4.45
4617                           Steak Burrito $11.75
4618                           Steak Burrito $11.75
4619                      Chicken Salad Bowl $11.25
4620                       Chicken Salad Bowl $8.75
4621                       Chicken Salad Bowl $8.75
dtype: object

### Step 6. Sort by the name of the item

In [6]:
sorted_data = chipo_dataset.sort(['item_name'],ascending = [True])
sorted_data.tail()

/Users/aishwaryachinnari/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

,order_id,quantity,item_name,choice_description,item_price
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [7]:
chipo.info()
#mydf['item_price'] = mydf['item_price'].apply(numcigar.get).astype(float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
order_id              5 non-null int64
quantity              5 non-null int64
item_name             5 non-null object
choice_description    3 non-null object
item_price            5 non-null object
dtypes: int64(2), object(3)
memory usage: 272.0+ bytes

In [16]:
chipo['item_price'] = chipo['item_price'].map(lambda x:x.strip())
chipo['item_price']
chipo.item_price.astype(np.float).max()

/Users/aishwaryachinnari/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

16.98

### Step 8. How many times were a Veggie Salad Bowl ordered?

### Step 9. How many times people orderd more than one Canned Soda?

In [14]:
chipo['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl'], dtype=object)